* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  border: 1px solid yellow;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
}

.container {
  border: 1px solid orange;
  height: 100%;
  position: relative;
  padding: 0 30px;
  padding-top: 53px;
  /* padding: 0(atas) 0(kanan) 0(bawah) 0(kiri)
  padding: 0(kiri) 0(atas=bawah) 0(kanan)
  padding: 0(atas=bawah) 0(kiri=kanan) */
}

.container .header {
  border: 1px solid green;
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.header .box-welcome {
  width: calc(100% - 24px);
}

.box-welcome .txt-welcome {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
}

.box-welcome .txt-plant {
  color: #00b761;
  font-weight: bold;
  font-size: 40px;
}

.header .box-trolley {
  width: 24px;
  display: flex;
  justify-content: center;
}

.container .sec-header {
  border: 1px solid purple;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 35px;
}

.sec-header .box-search {
  height: 50px;
  width: 294px;
  background-color: #f1f1f1;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  overflow: hidden;
}

.box-search .icn-search {
  border: 1px solid red;
  width: 24px;
  height: 24px;
  margin: 13px 9px 13px 13px;
}

.box-search .txt-search {
  width: 100%;
  background-color: inherit;
  border: unset;
  font-size: 16px;
}

.box-search .txt-search::placeholder {
  color: #000000;
  opacity: 1;
}

.sec-header .box-filter {
  border: 1px solid green;
  height: 50px;
  width: 50px;
}

.container .thi-header {
  border: 1px solid blue;
  height: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.thi-header .box-menu {
  /* border: 1px solid red; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.thi-header .box-menu:hover {
  color: #00b761;
  font-weight: bold;
}

.box-menu .txt-menu {
  margin-bottom: 5px;
  height: 16px;
}

.thi-header .box-menu:hover > .box-scroll {
  height: 2px;
  background-color: #00b761;
  border-radius: 11px;
  width: 50%;
}

.container .footer {
  height: 79px;
  position: absolute;
  bottom: 0px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  margin: 0 -22px 9px -22px;
  width: calc(100% - 16px);
}

.footer .icn-footer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
